#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
}
.verde{
    background-color: green;
    color: #000;
}
.vermelho{
    background-color: red;
    color: #000;
}
.azul{
    background-color: blue;
    color: #fff;
}
.preto{
    background-color: #000;
    color: #fff;
}